/* aplicamos estilo global a toda la pagina utilizando "*"  */
*{
    margin:0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; /* aseguramos que border y padding esten incluidos en el ancho y altura de los elementos */
    
}

.container{
 position: relative;
 margin: auto; /* para que este centrado*/
 width: 100%; /* ocupe todo el ancho */
 height: auto; /* altura automatico*/
}


.fila {
    position: relative;
    margin: auto; /* para que este centr */
    width: 100%; /* ocupe todo el ancho */
    height: auto; /* altura automatico*/
    clear: both; /* para que respete las cajas dentro de la fila */
    display: table; /* que nada se superponga a nivel de las filas */
}

/* generalizamos todas las clases que comiencen con col- aplicamos estos estilos */
[class*="col-"]{
    border: 1px solid black; /* tamaño color borde */
    float: left; /* permite que la caja flote a su derecha */
    padding: 20px;
}


.col-12 {
    width: 100%; /* esta caja va a ocupar el 100% */
    background:yellow; /* color de fondo */
}

.col-6 {
    width: 50%; /* esta caja va a ocupar el 100% */
    background:rgb(255, 123, 0); /* color de fondo */
}

.col-4 {
    width: 33.33333333%; /* esta caja va a ocupar el 100% */
    background:rgb(255, 17, 0); /* color de fondo */
}

.col-3 {
    width: 25%; /* esta caja va a ocupar el 100% */
    background:rgb(138, 12, 3); /* color de fondo */
}

.pie {
    width: 100%;
    text-align: center;
}